
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    margin: 16px;
    padding: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Martel', serif;
}

/* Formulaire de connexion */

#formulaire-connexion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
}

#formulaire-connexion input {
    font-style: normal;
    text-decoration: none;
    color: black;
    width: -webkit-fill-available;
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Page d'administration */

.buttonsadmin {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: 'Martel', serif;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
    text-align: center;
}

.buttonsadmin a {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-style: normal;
    width: -webkit-fill-available;
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Barre de navigation  */

.barre-navigation {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    margin: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#logo {
    width: 50px;
    height: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    font-family: 'Martel', serif;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
}

.buttons li {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    font-style: normal;
    text-decoration: none;
    color: black;
}

.buttons li a {
    text-decoration: none;
    color: black;
}

/* Retirer les styles par défaut du input type="submit" et l'afficher comme un lien */

input[type="submit"] {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: 'Martel', serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    color: black;
    text-decoration: underline;
}

/* Gestion de la croix section ajouter une croix */

#formulaire-ajout-croix {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
}

#formulaire-ajout-croix input {
    font-style: normal;
    text-decoration: none;
    color: black;
    width: -webkit-fill-available;
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Gestion de la croix section ajouter une produits */

#formulaire-ajout-produits {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
}

#formulaire-ajout-produits input {
    font-style: normal;
    text-decoration: none;
    color: black;
    width: -webkit-fill-available;
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Afficher des produits dans une collection à 4 colonnes */

.collection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
}

.produit {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
    width: -webkit-fill-available;
    border-radius: 16px;
    padding: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.crossimage {
    display: flex;
    height: 10vh;
}

/* Bloc de description de la croix ou du produit */

.descriptionbloc {
    display: flex;
    flex-direction: row;
    gap: 64px;
    height: 50vh;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
}

.imagedescription {
    display: flex;
    height: 40vh;
}

/* Mise en page du formulaire de contact */

#formulaire-contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
}

#formulaire-contact input {
    font-style: normal;
    text-decoration: none;
    color: black;
    width: -webkit-fill-available;
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#formulaire-contact textarea {
    font-style: normal;
    text-decoration: none;
    color: black;
    width: -webkit-fill-available;
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Mise en page du formulaire de suppression de contact */

#formulaire-supression-contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
}

#formulaire-supression-contact input {
    font-style: normal;
    text-decoration: none;
    color: black;
    width: -webkit-fill-available;
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.liste {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
}

@media (max-width: 650px) {

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: 'Martel', serif;
        font-size: 16px;
        font-weight: 700;
        list-style-type: none;
    }

    .buttonsadmin {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: 'Martel', serif;
        font-size: 16px;
        font-weight: 700;
        list-style-type: none;
        text-align: center;
    }

    .collection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        list-style-type: none;
    }

    .descriptionbloc {
        display: flex;
        flex-direction: column;
        gap: 64px;
        height: unset;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        list-style-type: none;
    }

    .imagedescription {
        display: flex;
        width: 40vw;
        height: auto;
    }
    
}

@media ( min-width: 650px ) and ( max-width: 800px) {

    .collection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        list-style-type: none;
    }

    .descriptionbloc {
        display: flex;
        flex-direction: column;
        gap: 64px;
        height: unset;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        list-style-type: none;
    }

    .imagedescription {
        display: flex;
        width: 40vw;
        height: auto;
    }
    
}