
@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    margin: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Martel', serif;
}

/* Formulaire de connexion */

#formulaire-connexion {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    list-style-type: none;
}

#formulaire-connexion input {
    font-style: normal;
    text-decoration: none;
    color: black;
    width: -webkit-fill-available;
    border-radius: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.produits {
    display: flex;
    min-width: 18%;
    max-width: 18%;
    height: 340px;
    background-color: black;
}