@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');


.produits {
    display: flex;
    min-width: 18%;
    max-width: 18%;
    height: 340px;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
    margin: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    background: rgba(255, 255, 255, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Martel', serif;
}

